<div class="w-full h-screen flex justify-center"
    style="background-image: url(https://www.turtlewax.com/media/3131/summer-road-trip-essentials-and-checklist-turtle-wax-thumbnail.jpg)">

    <div class="w-full pt-2 p-4">

        <div class="mx-auto md:p-20 ">

            <div class="bg-black bg-opacity-50
             shadow-md w-full rounded px-8 pt-6 pb-8 mb-4">
                <div class="mb-8">
                    <label for="username" class="block text-red-700 text-lg font-bold mb-2 ">
                        <span class="text-red-500">&nbsp;*</span>
                        Mot de passe
                    </label>
                    <div class="mt-1 relative rounded-md shadow-sm">
                        <input autocompte="off" type="password" class="form-control" name="password"
                            [(ngModel)]="password"
                            class="shadow-md border w-full  px-10 py-5 text-red-500 focus:outline-none focus:border-red-500 mb-6 rounded"
                            required minlength="6">

                    </div>
                </div>
                <div *ngIf="similar" class="alert alert-danger">Mot de passe érronée</div>



                <button (click)="passwordValidation()"
                    class="inline-flex p-8 w-48  bg-red-600 text-white rounded-full h-6 px-3 justify-center items-center">
                    Valider</button>


            </div>
        </div>
    </div>

</div>