<div class="flex space-x-4 flex-wrap -mt-1 -m-4 items-center w-full rounded-lg lg:rounded-l-lg lg:rounded-r-none ml-2">

    <main class="my-1 pt-2 pb-2 px-10 flex-1 bg-black bg-opacity-25 rounded-t-lg rounded-l-lg 
 transition duration-500 ease-in-out overflow-y-auto">
        <div class="article-bar-title px-3 lg:px-0">
            <div class="flex items-center  relative mb-4">

                <button (click)=" listNotConfirmed()"
                    class="flex-shrink-0 tag-red bg-red-600 text-white border-2 border-red-600 px-6 py-1 rounded-t-full rounded-l-full">
                    Demande de Reservation </button>
                <div class="border-b-2 border-red-600 absolute bottom-0" style="left: 25px; right: 17px;"></div>

                <button (click)="listNext()"
                    class="flex-shrink-0 tag-red bg-red-600 text-white border-2 border-red-600 px-6 py-1 rounded-t-full rounded-l-full">
                    Liste des reservations </button>
                <div class="border-b-2 border-red-600 absolute bottom-0" style="left: 25px; right: 17px;"></div>


                <button (click)=" listOld()"
                    class="flex-shrink-0 tag-red bg-red-600 text-white border-2 border-red-600 px-6 py-1 rounded-t-full rounded-l-full">
                    Ancienne Reservation </button>
                <div class="border-b-2 border-red-600 absolute bottom-0" style="left: 25px; right: 17px;"></div>

                <button (click)=" listReservOfTheDay()"
                    class="flex-shrink-0 tag-red bg-red-600 text-white border-2 border-red-600 px-6 py-1 rounded-t-full rounded-l-full">
                    Reservation du jour </button>
                <div class="border-b-2 border-red-600 absolute bottom-0" style="left: 25px; right: 17px;"></div>

                <button (click)=" listReturn()"
                    class="flex-shrink-0 tag-red bg-red-600 text-white border-2 border-red-600 px-6 py-1 rounded-t-full rounded-l-full">
                    Retour du jour </button>
                <div class="border-b-2 border-red-600 absolute bottom-0" style="left: 25px; right: 17px;"></div>



            </div>
        </div>
    </main>
</div>