<div class="flex space-x-4 flex-wrap -mt-1 -m-4 items-center w-full rounded-lg lg:rounded-l-lg lg:rounded-r-none ml-2">

    <main
        class="my-1 pt-1 pb-2 px-10 flex-1 bg-opacity-25 rounded-l-lg transition duration-500 ease-in-out overflow-y-auto w-full rounded-lg lg:rounded-l-lg lg:rounded-r-none  ">

        <div class="article-bar-title px-3 lg:px-0">
            <div class="flex items-center  relative mb-4">
                <button (click)="add()"
                    class="flex-shrink-0 tag-red bg-red-600 text-white border-2 border-red-600 px-6 py-1 rounded-t-full rounded-l-full">
                    Ajout </button>
                <div class="border-b-2 border-red-600 absolute bottom-0" style="left: 25px; right: 17px;"></div>


                <button (click)=" gotoList()"
                    class="flex-shrink-0 tag-red bg-red-600 text-white border-2 border-red-600 px-6 py-1 rounded-t-full rounded-l-full">
                    List </button>
                <div class="border-b-2 border-red-600 absolute bottom-0" style="left: 25px; right: 17px;"></div>
                <div
                    class="tag-red flex-shrink-0 bg-transparent text-red-600 border-2 border-red-600 px-6 py-1 rounded-t-full rounded-l-full">
                    <a href="https://www.true-gaming.net/home/category/videos">See All</a>
                </div>
            </div>
        </div>
    </main>
</div>